*.jar
**/*.baseDir.ts
.idea/**/*.xml
!.idea/codeStyleSettings.xml
!.idea/watcherTasks.xml
.grunt
.sass-cache
.tscache
_SpecRunner.html
/bower_components/
/build/
/demo/styles/
/docs/
/lib/
/nbproject/private/
/node_modules/
/npm-debug.log
/reports/
/selenium-debug.log
/src/main/coffee/**/*.js
/src/main/coffee/**/*.js.map
/src/test/coffee/**/*.js
/src/test/coffee/**/*.js.map
/test/nightwatch/report
/test/nightwatch/screenshots
